<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="description" content="HTML 5, ECMAScript 5, JavaScript, CSS 3">
<meta name="author" content="Kaleb Hornsby">
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" type="text/css" href="/htes5/css/style.css" />
<!--
<link rel="stylesheet" type="text/css" href="http://www.webputty.net/css/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRjj1hUM" />
-->
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
<script>
var loc = window.location, parentloc = window.parent.location;
window._gaq = [['_setAccount','UA-15567355-1'],['_trackPageview'],['_trackPageLoadTime']];
Modernizr.load([{
    test: loc != parentloc || loc.search.indexOf('__preview_css__')>-1,
    yep: 'http://www.webputty.net/js/agtzfmNzc2ZpZGRsZXIMCxIEUGFnZRjj1hUM'
},{
    load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
}]);
</script>
<!--script src="webforms2/webforms2.js"></script-->
</head>
<body>
<div id="container">
<header id="site-header">
    <hgroup>
        <h1>{% if page.url == "/index.html" %}
          HTES5{% else %}
          <a href="/htes5" style="color:white;" title="Hypertext and the ECMAScript 5">HTES5</a>{% endif %}
        </h1>
        <h2>{{ page.title }}</h2>
    </hgroup>
    <a href="#site-sidebar">Navigation</a>
</header>
<div id="main" role="main">
{{ content }}
</div>
<aside id="site-sidebar">
    <nav>
        <h1>Navigation</h1>
        <ul>
            <li>{% if page.url == '/respond.html' %}
              <b>Respond</b>{% else %}
              <a href="/htes5/respond" title="Responsive Design">Respond</a>{% endif %}
            </li>
            <li>{% if page.url == '/forms.html' %}
              <b>Formulate</b>{% else %}
              <a href="/htes5/forms" title="Web Forms 2.0">Formulate</a>{% endif %}
            </li>
            <li>{% if page.url == '/semantics.html' %}
              <b>Semanticate</b>{% else %}
              <a href="/htes5/semantics" title="Semanticated Content">Semanticate</a>{% endif %}
            </li>
            <li>{% if page.url == '/resources.html' %}
              <b>Grok</b>{% else %}
              <a href="/htes5/resources" title="Grok the Fullness">Grok</a>{% endif %}
            </li>
        </ul>
    </nav>
</aside>
<footer id="site-footer">By Kaleb Hornsby</footer>
</div> <!--! end of #container -->
  <!--[if lt IE 7 ]>
    <script defer src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script defer>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>
